body{
	padding: 0;
	margin: 0;
	color: #4D4E50;
}
*{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

 a{
 	text-decoration: none;
 	color: #4D4E50;
 }

/* --######### HEADER #####################################################-- */
header{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #F3EAEF;
	z-index: 9999;
}

.logo{
	display: inline;
	position: absolute;
	top: 12px;
	left: 25px;
}

nav{
	position: absolute;
	right: 30px;
	top: 5px;
}

nav ul li{
	display: inline-block;
	margin-right: 30px;
	font-size: 20px;
	letter-spacing: 0.1em;
	-moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .8s ease-in;
    transition: all .5s ease-in;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
  color: #ADB2B8;
  
}


/* --######### TOP PICTURE SECTION #####################################################-- */
.top-pict{
	position: relative;
	top: 60px;
	width: 100%;
	height: 860px;
	background-color: #28E1CE;
	overflow: auto;
}

/* --######### ABOUT SECTION #####################################################-- */
.about{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 800px;
	background-color: #67E1A0;
}

.about-text{
	position: relative;
	width: 80%;
	margin: 70px auto 0px auto;
}

.about-text p{
	text-align: center;
	font-size: 1.8em;
}

.about-social{
	position: relative;
	width: 80%;
	height: auto;
	margin: 0 auto 0 auto;
}

.about-social .fa{
	font-size: 3em;
	text-align: center;
	color: #4D4E50;
}

.social-icons{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 50px 0 0 22%;
}



/* --######### SKILLS SECTION #####################################################-- */
.skills{
	padding: 0 20px 0 20px;
	position: relative;
	width: 100%;
	height: 860px;
	background-color: #E1CC6C;
	overflow: auto;
}

.skills p{
	text-align: center;
	width: 80%;
	margin: 50px auto 0px auto;
	font-size: 2em;
}

.skills ul{
	position: relative;
	width: 75%;
	position: relative;
	margin: 50px auto 0px auto;
}

.skills ul li img{
	width: 180px;
}

.skills ul li{
	list-style: none;
	display: inline-block;
}

/* --######### EXPERIENCE SECTION #####################################################-- */
.experience{
	padding: 0 20px 0 20px;
	position: relative;
	width: 100%;
	height: 800px;
	background-color: #CF9F8C;
	overflow: auto;
}

.cv{
	display: table;
	margin: 100px auto 0px auto;
}

.cv .fa{
	font-size: 5em;
	text-align: center;
}

.cv h4{
	display: table;
	margin: 30px auto 0px auto;
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
}

.cv a{
	color: #4D4E50;
}

